node_modules
/public/hot
/public/*.csv
/public/images/movies
/public/images/backdrop
/public/images/posters
/public/images/posters_old
/public/model/*
/public/storage
/resources/assets/spark-mahout-*.jar!
/resources/assets/model/metadata
/resources/assets/model/data
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
